<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="LoginDBEntities" connectionString="metadata=res://*/Model.LoginModel.csdl|res://*/Model.LoginModel.ssdl|res://*/Model.LoginModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;attachdbfilename=|DataDirectory|\Login.mdf;integrated security=True;multipleactiveresultsets=True;connect timeout=10;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>